body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}
.container{
  width: 32vw;
  height: 39vw;
  min-width: 300px;
  min-height: 366px;
  display: flex;
  padding: 1vw;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color:darkgray; 
  border-right: 4px solid grey;
  border-bottom: 4px solid grey;
  border-top: 4px solid white;
  border-left: 4px solid white;
  flex-direction: column;
}